#variables-showing,
#functions-showing,
#methods-showing,
#variable-naming-conventions-showing,
#operators-showing,
#javascript-showing {
  display: none;
}

.clickable-javascript:hover,
.clickable-variables:hover,
.clickable-methods:hover,
.clickable-variable-naming-conventions:hover,
.clickable-operators:hover,
.clickable-functions:hover {
  background-color: rgb(151, 206, 223);
}
body {
  background-color: rgb(151, 206, 223);
  text-align: center;
}
